# [defaults]
# inventory = inventories/prod.yml
# remote_user = ubuntu
# private_key_file = /home/mokchhedul/ostad.pem
# host_key_checking = False
# retry_files_enabled = False
# deprecation_warnings = False